{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head">
    <nav class="main-nav overlay clearfix">
        <a class="btn-home icon-arrow-left" href="{{@blog.url}}">Home</a>

        {{#if @blog.navigation}}
            {{! <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a> }}
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='MM-DD-YYYY'}}">{{date format="MMMM DD, YYYY"}}</time> {{tags prefix=" on "}}
            </section>
        </div>
    </div>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <section class="post-content">
            {{#if image}}
                <p>
                    <img src="{{image}}" alt="{{title}}">
                </p>
            {{/if}}

            {{content}}
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            <section class="author">
                <h4>{{name}}</h4>

                {{#if bio}}
                    <p>{{{bio}}} Get ahold of me on <a href="http://github.com/kjbrum" class="github" target="_blank">Github</a>, <a href="https://www.linkedin.com/in/kylebrumm" target="_blank" class="linkedin">LinkedIn</a>, <a href="http://twitter.com/kyle_brumm" class="twitter" target="_blank">Twitter</a>, <a href="https://dribbble.com/kjbrum" class="dribbble" target="_blank">Dribbble</a>, or <a href="http://facebook.com/kylebrumm" class="facebook" target="_blank">Facebook</a>.</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>

        {{/author}}

            <section class="share">
                <h4>Share this post</h4>
                <a class="js-social-share fa fa-twitter-square" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}">
                    <span class="hidden">Twitter</span>
                </a>

                <a class="js-social-share fa fa-facebook-square" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}">
                    <span class="hidden">Facebook</span>
                </a>

                <a class="js-social-share fa fa-google-plus-square" href="https://plus.google.com/share?url={{url absolute="true"}}">
                    <span class="hidden">Google+</span>
                </a>

                <a class="js-social-share fa fa-linkedin-square" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute="true"}}&amp;title={{encode title}}&amp;source={{@blog.url}}&amp;summary={{excerpt}}">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

        <hr>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'kylebrumm';
            var disqus_identifier = {{id}};

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    </article>
</main>

<!--<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>-->

{{/post}}